body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.background_image {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.jeanbackground img {
    padding: 0px;
    width: 100%;
    position: relative;
    margin: 0px;
    left: -8%;
   
}

.jeanprofile  {
    position: absolute;
    width: 100%;
}

/* Bottom part */

.bottom {
    background-color: black;
    height: 80vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    margin-top: -0.7%;
}

.icons {
    position: relative;
    width: 1280px;
    height: 52px;
    letter-spacing: 100px;
    margin-left: -640px;
    display: flex;
    justify-content: center;
    margin-left: 12%;
    margin-top: 1%;
}

.bottom_text {
    color: white;
    margin-top: 5%;
    display: block;
    background-color: #111;
    margin-top: 15%;
}

.bottom_text p {
    margin-left: 2%;
}

.bottom_text h3 {
    margin-left: 2%;
}

.bottom_text {
    width: 100%;
    position: absolute;
    display: inline-block;
    padding: 40px 0;
    border-top: 1px solid #323232;
    margin-top: 4.8%;
}

.lowest {
    position: absolute;
    margin-left: 45%;
    margin-top: 21.5%;
}

.lowest_text {
    color: #919191;
    text-align: center;
    font-size: 10px;
    margin-top: 2%;
    position: absolute;
    margin-left: 19%;
    margin-top: 19%;
}

.hoyoverse_icon {
    position: absolute;
    margin-left: 29.5%;
    margin-top: 30%;
    justify-content: center;
    display: flex;
    align-items: center;
}


