body, 
figure {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.banner img.background_img {
    max-width: 1980px;
    width: 100%;
    position: relative;
}

a.goback {
    position: absolute;
    width: 100%;
    bottom: -22%;
}

.banner img.citlali {
    width: 105%;
    position: absolute;
    bottom: 0%;
    right: 2%;
}


.banner {position: relative;}


.banner .characters {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 50px;
    bottom: 200px;
}

footer {
    background: black;
    text-align: center;
    color: white;
}

footer section.subscribe {
    background: gray;
}

footer section.playstation {
    color: gray;
}

footer figure.hoyoverse img:first-child {
    width: 300px;
}

footer figure .icon img:last-child {
    width: 200px;
}

footer section.apps {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 70px;
}

