#body {
    background: #000000;
    height: 100vh;
    width: 100%;
} 

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;

}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

}

nav ul{
    list-style: none;
    float: right;
    margin: -135px;
    padding: 0;
    display: flex;
    margin-right: 0%;
}


nav ul li a {
    line-height: 70px;
    color: #fff;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 6px;
}

.genshinlogo {
    position: absolute;
    top: 11%;
    left: -2%;
    width: 22%;
}

.container h2 {
    position: absolute;
    margin-top: 25%;
    margin-left: 46%;
    text-transform: uppercase;
    display: block;
    font-size: 50px;
    padding: 0;

}

.teyvat {
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.teyvatext {
    font-weight: 400;
    font-size: 50px;
    line-height: 120px;
    height: 120px;
    text-shadow: 0 0 17px rgba(110, 159, 193, 0.24, 110, 159, 193, 0.24);
}


.teyvatext h1 {
    position: absolute;
    margin-left: 42%;
    margin-top: 13%;
    color: white;
    font-family:monospace;
}

.paragraphteyvat {
    position: absolute;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
    margin-left: 25%;
    margin-top: 23%;
    color: white;
    text-shadow: 1px 1px black;
}

/* Modtstandt */

.modstandt_image {
    margin-top: 54%;
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.city_content {
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city_content {
    position: absolute;
    margin-bottom: 15%;
}

.modstandt_text {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 4%;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black;
}

.Mondstandt_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
}

/* Liyue contexts */

.liyue_image {
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.liyue_content img {
    position: absolute;
}

.liyue_content {
    position: absolute;
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liyue_context {
    font-size: 18px;
    line-height: 1.5;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black;
    margin-top: 3%;
}

.liyue_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25%;
    position: relative;
}

/* Inazuma Context */

.inazuma_image {
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.inazuma_content {
    position: absolute;
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inazuma_context {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 9%;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black
}

.Inazuma_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    position: absolute;
    line-height: 60vh;
}

/* Sumeru Contexts */

.sumeru_image {
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sumeru_content {
    position: absolute;
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sumeru_context {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 9%;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black
}

.sumeru_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 25%;
}

/* Fontaine Contexts */

.fontaine_image {
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.fontaine_content {
    position: absolute;
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fontaine_context {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 8%;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black
}

.fontaine_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 25%;
}

/* Natlan Contexts */

.natlan_image {
    background-size:cover !important;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    line-height: 28px;
    color: #fff;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.natlan_content {
    position: absolute;
    margin-top: 19vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.natlan_content img {
    width: 350px;
}

.natlan_context {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10%;
    color: white;
    text-align: center;
    width: 1200px;
    text-shadow: 1px 1px black
}

.Natlan_name {
    font-size: 35px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 32%;
    
}

/*  Bottom Parts */

.bottom {
    background-color: black;
    height: 70vh;
    width: 100%;
    background-size: cover;
    position: absolute;
}


.icons {
    position: relative;
    width: 1280px;
    height: 52px;
    letter-spacing: 100px;
    margin-left: -640px;
    display: flex;
    justify-content: center;
    margin-left: 19%;
    margin-top: 1%;
}

.bottom_text {
    color: white;
    margin-top: 5%;
    display: block;
    background-color: #111;
}

.bottom_text p {
    margin-left: 2%;
}

.bottom_text h3 {
    margin-left: 2%;
}

.bottom_text {
    width: 100%;
    position: absolute;
    display: inline-block;
    padding: 40px 0;
    border-top: 1px solid #323232;
}

.lowest {
    position: absolute;
    margin-left: 45%;
    margin-top: 17%;
}

.lowest_text {
    color: #919191;
    text-align: center;
    font-size: 10px;
    margin-top: 2%;
    position: absolute;
    margin-left: 25%;
    margin-top: 25%;
}

.hoyoverse_icon {
    position: absolute;
    margin-left: 33%;
    margin-top: 28%;
    justify-content: center;
    display: flex;
    align-items: center;
}
